# env
**.env

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
# Keep the project icon.
!/.idea/icon.png

# FVM related
**/.fvm/flutter_sdk
